apiVersion: v1
kind: Service
metadata:
  name: ui
spec:
  selector:
    app: ui
  type: NodePort
  ports:
    - name: ui
      protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30030
