apiVersion: v1
kind: Service
metadata:
  name: auth-api
spec:
  selector:
    app: auth-api
  type: ClusterIP
  ports:
    - name: auth-api
      protocol: TCP
      port: 8000
      targetPort: 8000
